@font-face{
    font-family: HelveticaR;
    src: url(fonts/HelveticaRegular.ttf) format('truetype'); 
}

@font-face{
   	font-family: HelveticaT;
    src: url(fonts/HelveticaThin.ttf) format('truetype');
}


@font-face{
   	font-family: HelveticaBI;
    src: url(fonts/HelveticaBoldItalic.ttf) format('truetype');
}

@font-face{
   	font-family: HelveticaB;
    src: url(fonts/Helvetica_Bold.ttf);
}



html, body {
    margin: 0;
    padding: 0;
    background-color: #F1F1F1;
}

.header {
	height: 250px;
	width: 100%
	position: absolute;
	background: url(pic/main_pic.jpg) 100% 100% no-repeat;
	background-size: cover;
	background-color: #086AAA;
}

.header__overlay {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000000;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	opacity: 0.5;
}

.header__title{ 
	position: relative;
	color: #FFFFFF;
	font-size: 80px;
	font-style: normal;
	font-family: HelveticaT;
	
}

.menu {
	height: 50px;
	width: 100%
	position: absolute;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #05253A;
}

.menu a {
	color: #FFFFFF;
	font-size: 20px;
	font-family: HelveticaR;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	height: 100%;
	text-align: center;
	width: 25%;
	text-decoration: none;
	vertical-align: middle;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
}

.menu a:hover {
	color: #05253A;
	background-color: #FFFFFF;
	transition: 0.5s;

}

.byography, 
.learning, 
.projects {
	display: flex;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;
	flex-wrap: wrap;
}

.byography__block,
.learning__courses,
.learning__other,  
.learning__english {
	margin: 30px;
	padding: 10px 20px 10px 40px;
	background-color: #FFFFFF;
	border-radius: 8px;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
	font-family: HelveticaR;
}

.section-title {
	font-family: HelveticaBI;
	font-size: 60px;
	text-align: center;
	background-color: #565656;
  	color: transparent;
  	text-shadow: 0px 2px 3px rgba(255,255,255,0.6);
  	-webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
}

.section-line {
	border: none;
	width: 90%;
	background-color: #C1C1C1;
	height: 1px;
	opacity: 0.5;
}

.byography__block {
	width: 60%;
}

.byography__photo {
	width: 315px;
	height: 405px;
	margin: 20px;
	border-radius: 8px;
	pointer-events: none;
	user-select: none;
}

.byography__title,
.learning__title {
	font-size: 33px;
	color: #0D5587;
	font-style: normal;
}

.byography__description,
.learning__description {
	font-size: 20px;
	color: #000000;
	line-height: 2;
}


.learning__courses{ 
	width: 30%;
}

.learning__description li{
	list-style-type: none;
}

.learning__description li:before {
	content: "→";
}

.learning__description li a{
	text-decoration: none;
	cursor: pointer;
}

.learning__other{
	width: 50%;
	font-family: HelveticaR;
}

.learning__english{
	width: 30%;
	font-family: HelveticaR;
}

.learning__other table {
	width: 100%;
	font-size: 20px;
}

.learning__other table tr td{
	padding: 5px;
}

.skill-1, .skill-2, .skill-3, .skill-4, .skill-5, .skill-6 {
	width: 230px;
	height: 10px;
	border: 1px solid #05253A;
	border-radius: 3px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	transition: transform 0.8s;
}

.skill-1:hover {
	transform: translate(10px, 0px);
}


.skill-11, .skill-21, .skill-31, .skill-41, .skill-51, .skill-61 {
	background-color: #05253A;
	border-right: 1px solid #F1F1F1;
}

.skill-12, .skill-22, .skill-32, .skill-42, .skill-52, .skill-62 {
	background-color: #0D5587;
}

.skill-11 {
	width: 75%;
}

.skill-12 {
	width: 25%;
}

.skill-21 {
	width: 81%;
}

.skill-22 {
	width: 19%;
}

.skill-31 {
	width: 68%;
}

.skill-32 {
	width: 32%;
}

.skill-41 {
	width: 74%;
}

.skill-42 {
	width: 26%;
}

.skill-51 {
	width: 47%;
}

.skill-52 {
	width: 53%;
}

.skill-61 {
	width: 74%;
}

.skill-62 {
	width: 26%;
}

.projects__project {
	margin: 30px;
	padding: 10px;
	background-color: #FFFFFF;
	border-radius: 8px;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
	font-family: HelveticaR;
	width: 35%;
	text-align: center;
}

.projects__title {
	font-size: 30px;
	color: #0D5587;
	font-style: normal;
}

.project-1, .project-2, .project-4 {
	width: 350px;
	height: 300px;
	pointer-events: none;
	user-select: none;
	border-radius: 8px;
	filter: grayscale(100%) blur(5px);
}

.project-3 {
	width: 400px;
	height: 300px;
	pointer-events: none;
	user-select: none;
	filter: grayscale(100%) blur(5px);
}

.projects__project:hover .project-1,
.projects__project:hover .project-2,
.projects__project:hover .project-3,
.projects__project:hover .project-4 {
	transition: 0.5s;
	filter: grayscale(0%) blur(0px);
}
	

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 150px;
	width: 100%;
	background-color: #05253A;
}


.footer table {
	width: 70%;
}

.footer table tr td{
	color: white;
	font-family: HelveticaR;
	font-size: 18px;
	text-align: center;
	padding: 5px;
}



